#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  pointer-events: none;
  font-family: Helvetica Neue;
  font-size: 12px;
  z-index: 2;

  /* Add customization here  */
}

#tooltip.hidden {
  display: none;

  /* Add customization here  */
}

#tooltip p {
  margin: 0;
  font-family: Helvetica Neue;
  font-size: 12px;
  line-height: 15px;

  /* Add customization here  */
}

.reportTable {
  font-family: Helvetica Neue;
  font-size: 12px;
 

  /* Add customization here  */
}

.reportTable th {
  color: #000000;
  /* font-size: 10px;  */
  /* height: 25px; */
  padding: 5px;

  /* Add customization here  */
}

.reportTable td {
  color: #000000;
  vertical-align: super;
  padding: 5px;
  /*background: #FFFFFF;*/
 

  /* Add customization here  */
}

.left {
  text-align: left;

  /* Add customization here  */
}

.right {
  text-align: right !important;

  /* Add customization here  */
}

.indent {
  padding-left: 15px !important;

  /* Add customization here  */
}

.subtotal {
  font-style: italic;
  font-weight: bold;
  background: #d3d3d3;

  /* Add customization here  */
}

.total {
  font-weight: bold !important;

  /* Add customization here  */
}

.total.transposed {
  background: #d3d3d3;

  /* Add customization here  */
}
